.login1-1-9b0edc8f79d047b3a4e6b2e2bf571b27{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 1.0245901639344266vh;
box-shadow: 0px 0px 10px #aaaaaa;
background-color: #FFFFFF;
height: 350px;min-height: 350px;
width: 420px;min-width: 420px;
    
}
.layer-1-8b7046a343474cffb045e4eeb5420065{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: center;
align-items: center;

box-shadow: 0px 0px 0px #AAAAAA;
background-color: #FFFFFF;
height: fit-content;
width: 301px;min-width: 301px;
    
}
.text-1-ac4432b9ec0447d2b0d09655710c8745{
     text-align: left;
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;
font-size: 18px;
font-weight: bold;

color: #171717;
height: 60px;min-height: 60px;
align-self: stretch;
    
}
.layer-9-67a11b3147884b28800bac0a89d989ad{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

background-color: transparent;
height: 29px;min-height: 29px;
width: 100px;min-width: 100px;
    
}
.layer-6-95bf4fca0030475cbc0d6e00c7aa9d41{
    display: flex;
    contain: paint;
    flex-direction: column;
justify-content: center;
align-items: center;

background-color: transparent;
height: 98px;min-height: 98px;
align-self: stretch;
    
}
.text-2-1795e4d4afde45eb8d0ea8ab7cd3c978{
     
font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;
font-size: 10px;


margin-bottom: 5px;
box-sizing: border-box;
color: #000000;
height: fit-content;
align-self: stretch;
    
}
.layer-3-0c5094db54dd49ba9d07f518de3c3497{
    display: flex;
    contain: paint;
    flex-direction: row;
justify-content: space-between;
align-items: center;

background-color: transparent;
height: 50px;min-height: 50px;
width: 270px;min-width: 270px;
    
}
